.flex {
  display: flex;
  gap: 10px;
}

#comments {
  max-width: calc((100vh - (56px + 24px + 136px)) * (16 / 9));
  min-width: calc(360px * (16 / 9));
}

.commentItem {
  display: flex;
  margin-bottom: 16px;
}

.commentInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &:focus {
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
  }
}

.profileImg {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border-radius: 999px;
  overflow: hidden;
  img {
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.toolbar {
  display: flex;
  .likeCountText {
    margin: 0 10px;
    font-size: 12px;
    color: #606060;
    line-height: 24px;
  }
}

.displayName {
  display: inline-block;
  margin-bottom: 4px;
}

.commentText {
  margin-bottom: 16px;
}

.today {
  font-size: 12px;
  color: #000;
}

.btnReply {
  margin-left: 16px;
  padding: 0 10px;
  border-radius: 999px;
  color: #606060;
  font-size: 12px;
  line-height: 24px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.btnView {
  padding: 10px 16px;
  border: none;
  border-radius: 999px;
  background-color: transparent;
  color: #065fd4;
  &:hover {
    background-color: #def1ff;
    cursor: pointer;
  }
}
