#comments {
  max-width: calc((100vh - (56px + 24px + 136px)) * (16 / 9));
  min-width: calc(360px * (16 / 9));
}

.commentItem {
  display: flex;
  margin-bottom: 16px;
}

.commentInput {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profileImg {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border-radius: 999px;
  overflow: hidden;
  img {
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.toolbar {
  display: flex;
}
