$item-color: rgba(0, 0, 0, 0.05);
$item-hover-color: rgba(0, 0, 0, 0.15);

.frame {
  display: flex;
  height: calc(100vh - 100px);

  .mainPageFrame {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;

    .filterWrapper {
      justify-content: left;
      align-items: center;
      display: flex;
      padding: 0 15px;

      .filterItem {
        padding: 5px 10px;
        margin: 6px;
        border-radius: 10px;
        background-color: $item-color;
        &:hover {
          cursor: pointer;
          background-color: $item-hover-color;
        }
      }
    }
  }
}
