.frame {
  display: flex;
  height: calc(100vh - 100px);
}
.videoPage {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}
