.videoComponent {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  flex-direction: row;
  column-gap: 16px;
  position: relative;

  align-items: flex-start;

  .videoWarp {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    gap: 8px;
    position: relative;

    align-items: stretch;
    flex: 1;

    .videoView {
      width: inherit;
      aspect-ratio: 16 / 9;

      background: #a0a0a0;
      border-radius: 16px;

      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      object-fit: fill;

      .thumbnails {
        width: inherit;
      }
    }
    .videoInfo {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;

      height: 60px;

      border-radius: 16px;

      /* Inside auto layout */
      flex: none;
      .videoLogo {
        width: 60px;
        height: 60px;

        border-radius: 30px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
      }
      .videoTitle {
        width: 100%;
        height: 60px;

        border-radius: 8px;

        /* Inside auto layout */

        flex-grow: 0;
      }
      .videoToggle {
        width: 32px;
        height: 60px;

        /* Inside auto layout */

        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
      }
    }
    .channelName {
      width: 100%;
      height: 24px;

      border-radius: 12px;

      /* Inside auto layout */

      flex: none;
    }
    .videoStatus {
      width: 100%;
      height: 24px;

      border-radius: 30px;

      /* Inside auto layout */

      flex: none;
      order: 3;
      align-self: stretch;
      flex-grow: 0;
    }
  }
}
