.videoComponent {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  position: relative;

  align-items: flex-start;

  .videoWarp {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    gap: 8px;
    position: relative;

    align-items: flex-start;
    flex: none;
    flex-grow: 1;

    .videoView {
      width: 300px;
      aspect-ratio: 16 / 9;

      background: #a0a0a0;
      border-radius: 4%;

      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;
    }
    .videoInfo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;

      height: 60px;
      flex-grow: 1;

      border-radius: 16px;

      /* Inside auto layout */

      flex: none;
      align-self: stretch;
      .videoLogo {
        width: 60px;
        height: 60px;

        border-radius: 30px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
      }
      .videoTitle {
        height: 60px;

        border-radius: 8px;

        /* Inside auto layout */

        flex-grow: 1;
      }
      .videoToggle {
        width: 32px;
        height: 60px;

        /* Inside auto layout */

        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
      }
    }
    .channelName {
      width: 100%;
      height: 24px;

      border-radius: 12px;

      /* Inside auto layout */

      flex: none;
    }
    .videoStatus {
      width: 100%;
      height: 24px;

      border-radius: 30px;

      /* Inside auto layout */

      flex: none;
      order: 3;
      align-self: stretch;
      flex-grow: 0;
    }
  }
}
