$btn-hover-color: rgba(0, 0, 0, 0.15);
$voice-btn-color: rgba(0, 0, 0, 0.05);
$search-bar-border-color: rgb(211, 211, 211);
$modal-bg-color: rgba(0, 0, 0, 0.5);
.header {
  margin-top: -10px;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  background-color: #fff;
  z-index: 999;

  .countryCode {
    vertical-align: top;
  }
  .areaComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .appLogoWrapper {
    display: flex;
    font-size: 10px;
    height: 50px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    color: #000;
    text-decoration: none;
    .appLogo {
      height: 100%;
      padding: 10px 5px;
      box-sizing: border-box;
    }
  }

  .appIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
  }
  .appIconWrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #fff;
    margin-right: 1rem;
    &:hover {
      background-color: $btn-hover-color;
    }

    .headerModal {
      position: absolute;
      top: 60px;
      text-align: center;
      font-size: 0.7rem;
      color: white;
      background-color: $modal-bg-color;
      box-sizing: border-box;
      padding: 10px 0;
      border-radius: 5px;
      width: 110%;
    }
  }

  .voiceIconWrapper {
    display: flex;
    background-color: $voice-btn-color;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    &:hover {
      background-color: $btn-hover-color;
    }
  }

  .appIconInner {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
  }

  .profileIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 36px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 1rem;
  }

  .profileIconInner {
    height: 40px;
    width: 40px;
    box-sizing: border-box;
  }

  .nav {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      background-color: $btn-hover-color;
    }
  }

  .middleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .searchContainer {
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      margin-right: 1rem;
      box-sizing: border-box;
      .searchBarWrapper {
        border: 1px solid $search-bar-border-color;
        border-right: none;
        border-radius: 25px 0 0 25px;
        display: flex;
        width: 100%;
        height: 45px;
        box-sizing: border-box;
        margin-right: 1px;

        .searchBarInner {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          .searchBar {
            width: 85%;
            height: 100%;
            box-sizing: border-box;
            margin-right: 0.5rem;
            border: none;
            outline: none;
          }
          .virtualKeyboard {
            &:hover {
              filter: brightness(70%);
              cursor: pointer;
            }
          }
        }
      }
      .searchIconWrapper {
        width: 10%;
        height: 45px;
        border: 1px solid $search-bar-border-color;
        box-sizing: border-box;
        border-radius: 0 25px 25px 0;
        cursor: pointer;
        &:hover {
          background-color: $btn-hover-color;
        }
        .searchIconInner {
          padding: 5px;
          box-sizing: border-box;
        }
      }
    }
  }
}
